/* .chart-container {
  position: relative;
  margin: auto;
} */

.axis-label {
  transition: transform 0.5s ease;
}

.circle {
  transition: cx 0.5s ease, cy 0.5s ease;
}

.legend-item {
  cursor: pointer;
}
